
<div class="simplepie">

	{IF_ERROR_BEGIN}<p class="error">{ERROR_MESSAGE}</p>{IF_ERROR_END}

	{ITEM_LOOP_BEGIN}

    <div class="simplepieItem">

        <div class="leftCol">

            <a href="{ITEM_PARENT_IMAGE_LINK}">
                <img src="{ITEM_PARENT_IMAGE_URL}" alt="{ITEM_PARENT_TITLE}">
            </a>

        </div> <!--.leftCol-->

        <div class="rightCol">

	        <h4><a href="{ITEM_PERMALINK}">{ITEM_TITLE}</a> 
            <span class="date">{ITEM_DATE}</span></h4>

	        {ITEM_DESCRIPTION}

	        <p class="source"> <img src="{ITEM_PARENT_FAVICON}" 
            alt="{ITEM_PARENT_TITLE}" title="{ITEM_PARENT_TITLE}" /> 
            <a href="{ITEM_PARENT_PERMALINK}">{ITEM_PARENT_TITLE}</a> | {ITEM_AUTHOR_NAME}</p>

        </div> <!--.rightCol-->

    </div> <!--.simplepieItem-->

	{ITEM_LOOP_END}   

</div>
